/*DEVELOPER: Julian Lechner, IS117-101, Fall 2022*/

@media (max-width:600px){
    #contact h1{
        text-align: center;
        font-size:50px;
    }
}

/* *{
    border: solid red 2px;
} */

body{
    color:white;
    background: rgb(14,40,59);
    background: linear-gradient(180deg, rgba(14,40,59,1) 0%, rgba(3,3,20,1) 66%);
    min-height: 100vh !important;
    animation: fadeIn .5s;

}

h1{
    font-size:80px;
}

h2{
    font-size:60px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: .75rem;
}
.container-lg{
    
}

#resume-opener{
    text-align: center;

}

#showcase{
    max-width: 1000px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 50px auto;
}

.bio-box{
    width: 60%;
    margin:auto;
}
.bio-box h2{
    font-size:40px;
}
.bio-img{
    max-width:400px;
    width:80%;
    float:left;
    border-radius: 20px;
}
#bio-text{
    float:right;
    max-width: 400px;
}
.card-container{
    width:300px;
    max-height: 400px !important;
    height:400px;
}

.card{
    height:inherit;
    background-color: rgba(57, 57, 57, 0.6);
    width:100%;
    border-radius: 5px;

}
.scroll-container{
    padding:20px;
    border-radius: 10px;
    background-color: rgba(37, 37, 37, 0.526);
    height:700px;
    overflow-y:scroll;
    overflow-x:hidden;
    margin: 30px auto;
    width:60%;
    

}
.card img{
    width:100%;
}

.bg-darker{
    background-color: rgba(37, 37, 37, 0.426) !important;
}
.card-text{
    text-align: left;
    padding: 5px 10px;
}

.card-title{
    font-size: 200%;
    margin-bottom: 0;
}

.card-subtitle{
    font-size:150%;
}

.card-links{
    display:flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.card-links a{
    font-size: 120%;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }