/*DEVELOPER: Julian Lechner, IS117-101, Fall 2022*/

@media (max-width:600px){
    #contact h1{
        text-align: center;
        font-size:50px;
    }
}

/* *{
    border: solid red 2px;
} */

body{
    color:white;
    background: rgb(14,40,59);
    background: linear-gradient(180deg, rgba(14,40,59,1) 0%, rgba(3,3,20,1) 66%);
    min-height: 100vh !important;

}

h1{
    font-size:80px;
}

h2{
    font-size:60px;
}

footer{
     position: fixed;
     bottom: 0;
     width: 100%;
     text-align: center;
     pointer-events: none;
}
.container-lg{
    
}

#resume-opener{
    text-align: center;

}

#showcase{
    max-width: 700px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    margin:auto;
    
}

#about-box{
    border:white solid 3px;
    margin:2% 20% 5.7% 20%;
    height:500px;
}
.card-container{
    width:300px;
    max-height: 400px !important;
    height:400px;
}

.card{
    height:inherit;
    background-color: rgba(57, 57, 57, 0.6);
    width:100%;

}

.card img{
    width:100%;
}

.card-text{
    text-align: left;
    padding: 5px 10px;
}

.card-title{
    font-size: 200%;
    margin-bottom: 0;
}

.card-subtitle{
    font-size:150%;
}

.card-links{
    display:flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.card-links a{
    font-size: 120%;
}

#about-box{
    display: block;
    padding:10px 40px;
    height:800px;
}

#bio-photo{
    max-width:445px;
    width:100%;
    float:left;
    

}

#bio-text{
    float:right;
    max-width: 400px;
    width:100%;
    margin:auto;
}

#bio-text h2{
    text-align: center;
    text-decoration: underline;
    font-size:40px;
}